__tests__
.bundle
.yarn
android
ios
node_modules/
vendor

.eslintrc.js
.gitignore
.prettierrc.js
.watchmanconfig
.yarnrc.yml
app.json
babel.config.js
Gemfile
Gemfile.lock
index.js
jest.config.js
metro.config.js
tsconfig.json
package-lock.json
yarn.lock
.vscode/
.idea/
App.tsx